<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="../../public/assets/js/burgerjs.js"></script>
    <title>Eat Da Burger!</title>
</head>

<body>
    {{{ body }}}
</body>

</html>