<div class="container">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Josh's Burgers</h1>
            <p class="lead"></p>
            <img class="rounded mx-auto d-block" src="../public/assets/image/burgr-hellskitchen.jpg" alt="pusheen">
            <hr class="my-4">
            <form class="create-burger">
                <div class="form-inline justify-content-center">
                    <label for="newburger">What would you like to order?</label>
                    <div class="form-group">
                        <input type="text" class="form-control mx-sm-3" id="burg" name="name" required>
                        <button type="submit" class="btn btn-primary my-1">Create Burger</button>
                    </div>
                </div>
            </form>
            <hr class="my-4">
            <div class="row">
                <div class="col-md-6">

                    <p class="lead text-center">Yum!</p>

                    <ul class="list-group">
                        {{#each burgers}}
                        {{#unless devoured}}
                        <li class="list-group-item">
                            <button data-id="{{this.id}}" class="btn btn-primary devourBurger"><i
                                    class="fas fa-hamburger"></i>
                                Eat the '{{this.name}}'</button>
                        </li>
                        {{/unless}}
                        {{/each}}
                    </ul>

                </div>

                <div class="col-md-6">
                    <p class="lead text-center">BURGERS LIST</p>

                    <ul class="list-group">
                        {{#each burgers}}
                        {{#if devoured}}
                        <li class="list-group-item">
                            {{this.name}}
                        </li>
                        {{/if}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>
    </div>


</div>