.jumbotron {
    background-image: url("/assets/image/spey-burger-restaurant.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}


#newburger {
    border-radius: 5px;
}

#color-override {
    color: #fff;
}

#leftTitle {
    background-color: #5cb85c;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

#eatbutton,
#devourbutton {
    float: right;
}

#rightTitle {
    background-color: #f0ad4e;
    color: white;
    text-align: center;
    font-size: 1.2em;
}