.jumbotron {
    background: url('../image/Burger-Beyond-Shoreditch-restaurant-London_wrbm_large.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}


#newburger {
    border-radius: 5px;
}

#leftTitle {
    color: white;
    text-align: center;
    font-size: 1.2em;
}

#eatbutton,
#devourbutton {
    float: right;
}

#rightTitle {
    color: white;
    text-align: center;
    font-size: 1.2em;
}